@import "variables";
@import "mixins";

html, body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.input {
  border-radius: 3px;
  padding: 17px 20px;
  border: 2px solid #2A592E;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $gray-text-color;

  &::placeholder {
    color: #A8ABA7;
  }
}

.small-input {
  border-radius: 5px;
  padding: 2px;
  border: 1px solid #6cac72;
  box-sizing: border-box;
  text-align: center;
  width: 40px;
  height: 28px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: $green-text-color;
  outline: none;

  &::placeholder {
    color: #A8ABA7;
  }
}

.button {
  text-align: center;
  padding: 15px;
  background-color: #456F49;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  border: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;

  &.button-transparent {
    background-color: transparent;
    border: 1px solid #6CAC72;
    color: $green-text-color;
  }

  &.button-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      margin-left: 16px;
    }
  }

  &.button-in-cart span {
    &:first-child {
      display: block;
    }

    &:last-child {
      display: none;
    }
  }

  &:hover {
    &.button-in-cart span {
      &:first-child {
        display: none;
      }

      &:last-child {
        display: block;
      }
    }
  }

  &:disabled {
    background: gray;
    cursor: not-allowed;
  }
}

a.button {
  text-decoration: none;
  display: inline-block;
}

.mat-menu-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;

  a {
    text-decoration: none;
    color: $gray-text-color;
    cursor: pointer;
  }
}

.carousel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;

  .carousel-title {
    @include head-lora-32;
  }

  .carousel-arrows {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      cursor: pointer;

      &:first-child {
        margin-right: 30px;
      }
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}


$color1: #f4f4f4;
$color2: #2A592E;

input[type="radio"] {
  margin: 0.5rem;
  position: absolute;
  opacity: 0;

  + label {
    cursor: pointer;

    &:before {
      content: '';
      background: $color1;
      border-radius: 100%;
      border: 2px solid darken($color1, 25%);
      display: inline-block;
      width: 16px;
      height: 16px;
      position: relative;
      margin-right: 12px;
      vertical-align: top;
      cursor: pointer;
      text-align: center;
      transition: all 250ms ease;
    }
  }

  &:checked {
    + label {
      &:before {
        background-color: $color2;
        box-shadow: inset 0 0 0 4px $color1;
      }
    }
  }

  &:focus {
    + label {
      &:before {
        outline: none;
        border-color: $color2;
      }
    }
  }

  &:disabled {
    + label {
      &:before {
        box-shadow: inset 0 0 0 4px $color1;
        border-color: darken($color1, 25%);
        background: darken($color1, 25%);
      }
    }
  }

  + label {
    &:empty {
      &:before {
        margin-right: 0;
      }
    }
  }
}

.mat-dialog-container {
  padding: 0 !important;
}
.mat-progress-spinner circle, .mat-spinner circle{
  stroke: #648F64;
}
